/* https://materialui.co/colors */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

#drop_zone {
  margin-top: -3rem;
  margin-bottom: -4rem;
}

#drop_zone > div {
  margin-top: -5px;
  margin-bottom: -5px;
  padding: 3rem 1.5rem;
}

.container {
  padding: 2rem;
  max-width: 50rem;
  margin: 0 auto;
}

.button {
  background: #AB47BC;
  color: white;
  padding: 15px 20px;
  display: inline-block;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

.button:hover {
  background: #8E24AA;
  transform: scale(1.05);
}

.button:active {
  background: #6A1B9A;
  transform: scale(.95);
}

.button-overwrite {
  background: #90A4AE;
}

.button-overwrite:hover {
  background: #607D8B;
}

.button-overwrite:active {
  background: #455A64;
}

.upload_error {
  color: #C62828;
}

.upload_subtitle {
  font-size: 0.9rem;
  color: #777;
}

.loader {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 5px solid #E1BEE7;
  border-radius: 50%;
  border-top-color: #AB47BC;
  animation: spin 1s ease-in-out infinite;
}

embed {
  margin: 1rem 0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.App {
  padding: 3rem 0;
  text-align: center;
}